{% extends '../base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
    <div class="container-fluid py-1">
      <nav aria-label="breadcrumb">
        <h6 class="text-white font-weight-bolder ms-2">Profile</h6>
      </nav>
      <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
        <ul class="navbar-nav justify-content-end">
          
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>

          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  
  <div class="container-fluid">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static "assets/img/curved-images/curved0.jpg" %}'); background-position-y: 50%;">
      <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <div class="row gx-4">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <img src="{% static 'assets/img/lipe.jpeg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
                {{subject.subject}}
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
                {{subject.description}}
            </p>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <div class="container-fluid py-4">
    <div class="row">
      
      <div class="row">
        <div class="col-8 mt-4">
          <div class="card mb-4">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-1">Estímulos</h6>
              <p class="text-sm">Criar um novo estímulos</p>
            </div>
            <div class="card-body p-3">
              <div class="row">
                

                <form role="form" method='post'>
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-6">
                      <label>Programa destinado a</label>
                      <div class="mb-3">
                        <select required class="form-control" name="patient">
                          {% for user in users %}
                          <option value="{{user.id}}">{{user.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <label>Data de aplicação</label>
                      <div class="mb-3">
                        <input name="lesson_date" required type="date" class="form-control">
                      </div>
                    </div>
                  </div>
                  <label>Descrição</label>
                  <div class="mb-3">
                    <textarea required maxlength="254" style="height: 100px;" name="description" class="form-control" placeholder="Descrição do programa" aria-describedby="description-addon"></textarea>
                  </div>
                  <label>Qtd. de estímulos</label>
                  <div class="mb-3">
                    <input id="options_qtd" required maxlength="254" type="number" min="2" class="form-control" placeholder="Qtd. de estímulos" >
                  </div>
                  <div id="options"></div>
                  <div style="text-align: right">
                    <a href="{% url 'lessons:home' %}" class="btn mt-4 mb-0">Voltar</a>
                    <button type="submit" class="btn bg-gradient-info mt-4 mb-0">Adicionar</button>
                  </div>
                </form>


                
              </div>
            </div>
          </div>
        </div>





        <div class="col-4 mt-4">
          <div class="card mb-4">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-1">Últimos estímulos</h6>
            </div>
            <div class="card-body p-3">
              <div class="row">
                

                <div class="timeline timeline-one-side">


                  {% for lesson in lessons %}
                    <div class="timeline-block mb-3">
                      <span class="timeline-step" style="margin-left: -12.5px;">
                        <i class="ni ni-book-bookmark text-success text-gradient"></i>
                      </span>
                      <div class="timeline-content">
                        <h6 class="text-dark text-sm font-weight-bold mb-0">{{lesson.boosts_list_label}}</h6>
                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Criado em: {{lesson.creation_date|date:"d/M/Y" }}</p>
                      </div>
                    </div>
                  {% endfor %}


                </div>


                
              </div>
            </div>
          </div>
        </div>






      </div>
    </div>
  </div>
</nav>


<script type="text/javascript">

document.getElementById('options_qtd').onchange = function(){
  let options_qtd = this.value;
  
  if(options_qtd != ''){
    
    str_element = '';

    for(let i=0; i<options_qtd; i++){
      str_element += '<label>Estímulo nº: ' + (i+1) + '</label><div class="mb-3"><input name="boost" required maxlength="254" type="text" class="form-control" placeholder="Nome da alternativa. ex: casa, carro, mesa" aria-describedby="name-addon"></div>';
    }

    document.getElementById('options').innerHTML = str_element;

  }
};

</script>

{% endblock %}